In [1]:
import pandas as pd

In [2]:
# Load the four CSV files
df1 = pd.read_csv('combined_citibike.csv')

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6929648 entries, 0 to 6929647
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 793.0+ MB

In [3]:
# Drop Null
df1.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929643,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,423.0,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
6929644,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003.0,1 Ave & E 18 St,40.733812,-73.980544,536.0,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
6929645,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146.0,Hudson St & Reade St,40.716250,-74.009106,422.0,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
6929646,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,2008.0,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
6929647,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285.0,Broadway & E 14 St,40.734546,-73.990741,3656.0,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

In [4]:
# Drop rows where the trip duration is less than 90 seconds and where the start and end stations are the same
df1 = df1.loc[((df1["tripduration"]>90) & (df1["start station id"] != df1["end station id"])),:]

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6751454 entries, 0 to 6929647
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 824.2+ MB